@import "../../styles/all.module.css";

.root {
  width: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(201, 212, 229, 1) 100%
  );
}

.container {
  max-width: 1220px;
  padding: 76px 24px 84px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  @include breakpoint-mobile-only {
    padding: 33px 36px 70px 36px;
  }
}

.title {
  margin: 21px auto 56px auto;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 56px;
  margin-bottom: 56px;

  .column {
    .number {
      display: flex;
      align-items: center;
      width: 43px;
      height: 43px;
      margin: 0 auto 16px auto;
      background-color: $light-purple;
      border-radius: 100%;

      p {
        margin: 0 auto;
      }
    }

    .columnSubTitle {
      max-width: 300px;
      padding: 0 16px;
      margin: 4px auto 0;

      @include breakpoint-mobile-only {
        padding: 0;
      }
    }

    .imageContainer {
      margin: 40px auto 0 auto;

      .image {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include breakpoint-mobile-only {
      max-width: 100%;
      margin: 0 auto 21px auto;
    }
  }

  @include breakpoint-mobile-only {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
