@import "../../styles/all.module.css";

.root {
  padding: 102px 24px;
  background: $light-gray;

  @include breakpoint-mobile-only {
    padding: 72px 36px;
  }

  @include breakpoint-xs-only {
    padding: 56px 36px;
  }
}

.container {
  max-width: 678px;
  margin: 0 auto;
}

.title {
  margin-bottom: 21px;
  font-size: $font-size-h1;
  line-height: $line-height-h1;

  @include breakpoint-mobile-only {
    font-size: $font-size-h1-mobile;
  }
}

.text {
  font-size: 20px;
  line-height: 28px;

  @include breakpoint-xs-only {
    font-size: 18px;
    line-height: 24px;
  }
}

.cta {
  margin-top: 72px;

  @include breakpoint-mobile-only {
    margin-top: 56px;
  }

  @include breakpoint-xs-only {
    margin-top: 32px;
    text-align: center;
  }
}
