@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Archivo Regular"), local("Archivo-Regular"),
    url(https://fonts.gstatic.com/s/archivo/v6/k3kQo8UDI-1M0wlSfdnoLmvDIaI.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Archivo Medium"), local("Archivo-Medium"),
    url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdSrLO0bhLIiP-Q8.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Archivo Bold"), local("Archivo-Bold"),
    url(https://fonts.gstatic.com/s/archivo/v6/k3kVo8UDI-1M0wlSdWLNO0bhLIiP-Q8.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

%font-family {
  font-family: "Archivo", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-size-h1: 44px;
$line-height-h1: 115%;
$font-size-h2: 34px;
$line-height-h2: 115%;
$font-size-h3: 26px;
$line-height-h3: 115%;
$font-size-body: 20px;
$line-height-body: 120%;

$font-weight-regular: 400;
$font-weight-medium: 600;

$font-size-h1-mobile: 26px;
$font-size-h2-mobile: 24px;
$font-size-h3-mobile: 18px;
$font-size-body-mobile: 20px;
