@import "../../styles/all.module.css";

.h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;

  @include breakpoint-mobile-only {
    font-size: $font-size-h1-mobile;
  }
}

.h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;

  @include breakpoint-mobile-only {
    font-size: $font-size-h2-mobile;
  }
}

.h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;

  @include breakpoint-mobile-only {
    font-size: $font-size-h3-mobile;
  }
}

.body {
  font-size: $font-size-body;
  line-height: $line-height-body;

  @include breakpoint-mobile-only {
    font-size: $font-size-body-mobile;
  }
}

.medium-body {
  font-size: $font-size-medium-body;
  line-height: $line-height-medium-body;
}

.small-body {
  font-size: $font-size-small-body;
  line-height: $line-height-small-body;
}

.small-cta {
  font-size: $font-size-small-cta;
  line-height: $line-height-small-cta;
}

.large-cta {
  font-size: $font-size-large-cta;
  line-height: $line-height-large-cta;
}

.regular {
  @extend %font-family;

  font-weight: $font-weight-regular;
}

.medium {
  @extend %font-family;

  font-weight: $font-weight-medium;
}

.bold {
  @extend %font-family;

  font-weight: $font-weight-bold;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.gray {
  color: $gray;
}

.dark-gray {
  color: $dark-gray;
}

.purple {
  color: $purple;
}

.orange {
  color: $orange;
}
