@import "../../styles/all.module.css";

.root {
  position: relative;
  box-sizing: content-box;
  width: 100%;

  @include breakpoint-desktop-only {
    margin: 0 auto;
  }

  @include breakpoint-tablet-only {
    margin: 0 auto;
  }

  @include breakpoint-mobile-only {
    margin: 0 auto;
  }
}
