@import "../../styles/all.css";

.root {
  box-sizing: content-box;
  padding: 32px;

  @include breakpoint-desktopOnly {
    margin: 0 auto;
  }

  @include breakpoint-tabletOnly {
    margin: 0 auto;
  }

  @include breakpoint-mobileOnly {
    margin: 0 auto;
  }
}
