@import "../../styles/all.module.css";

.root {
  max-width: 1220px;
  padding: 74px 24px;
  margin: 0 auto;
  text-align: center;

  @include breakpoint-mobile-only {
    padding: 48px 36px;
  }
}

.subtitle {
  max-width: 676px;
  margin: 21px auto 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .column {
    max-width: 343px;
    padding-right: 24px;
    text-align: left;

    @include breakpoint-mobile-only {
      max-width: 100%;
      padding-right: 0;
      margin: 0 auto 21px auto;
      text-align: center;
    }
  }

  @include breakpoint-mobile-only {
    flex-direction: column;
    align-items: stretch;
    margin-top: 32px;
  }
}

.link {
  color: $gray;
}
