@import "../../styles/all.css";

.root {

  background-color: white;

  h1 {
    margin: 0;
  }
}

.inner {
  max-width: 960px;
  margin: 0 auto;
}

.link {
  color: black !important;
  padding-left: 20px;

  text-decoration: none !important;
}
