@import "../../styles/all.module.css";

.root {
  padding: 34px 24px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
  transition: all 0.18s ease;

  @include breakpoint-mobile-only {
    padding: 24px;
  }
}

.sticky {
  padding: 16px 24px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);

  @include breakpoint-mobile-only {
    padding: 8px 24px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1110px;
  margin: 0 auto;
}

.link {
  margin-right: 26px;
  color: $black;
  text-decoration: none;

  p {
    color: $black;
    transition: color 0.18s ease;
  }

  &:hover {
    color: black;
    text-decoration: underline;

    p {
      color: black;
    }
  }
}
