@import "../../styles/all.module.css";

.root {
  padding: 34px 24px;

  @include breakpoint-mobile-only {
    padding: 29px 24px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1062px;
  margin: 0 auto;
}

.link {
  margin-right: 26px;
  color: $black;
  text-decoration: none;

  p {
    color: $black;
    transition: color 0.18s ease;
  }

  &:hover {
    color: black;
    text-decoration: underline;

    p {
      color: black;
    }
  }
}
