@import "../../styles/all.module.css";

.root {
  padding: 30px 24px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
  transition: all 0.18s ease;

  @include breakpoint-mobile-only {
    padding: 20px 24px;
  }

  @media screen and (width < 360px) {
    padding: 20px 16px;
  }
}

.sticky {
  padding: 12px 24px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);

  @include breakpoint-mobile-only {
    padding: 8px 24px;
  }

  @media screen and (width < 360px) {
    padding: 8px 16px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;

  @include breakpoint-mobile-only {
    justify-content: space-between;
  }
}

.logo {
  display: block;
  height: 40px;
  transition: opacity 0.18s ease;

  img {
    height: 40px;
  }
}

.hideDesktop {
  @include breakpoint-desktop-only {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav.supportPage {
  @include breakpoint-mobile-only {
    display: none;
  }
}

.link {
  margin-right: 30px;
  color: $black;
  text-decoration: none;

  @media screen and (width < 360px) {
    margin-right: 16px;
  }

  p {
    color: $black;
    transition: color 0.18s ease;
  }

  &:hover {
    color: black;
    text-decoration: underline;

    p {
      color: black;
    }
  }
}

.hideLandingMobile {
  @include breakpoint-mobile-only {
    display: none;
  }
}

.hideMobile {
  @include breakpoint-mobile-only {
    display: none;
  }
}
