@import "../../styles/all.module.css";

.footer {
  @extend %font-family;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 140px;
  background-color: $white;
}

.image {
  width: 14px;
  height: 14px;
  margin: 0 4px;
}
